<div class="landing">

<div class="container">
  <div class="row text-center">
    <div class="jumbotron front-title">
      <h1>Life is better caffeinated</h1>
      <p>Share your passion for coffee and find a new friend to enjoy it with on Cafecito.</p> 
      <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

</div>