<div class="landing">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">Life is better caffeinated</h1>

          <p class="lead">Share your passion for coffee and find a new friend to enjoy it with on Cafecito.
          </p>

          <p class="lead">
            <%= link_to "Try it for free", new_user_registration_path, class: "btn btn-primary btn-lg" %>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p><%= link_to "©2015 BuildRed", 'http://buildred.co', id: "copyright" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>